<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                Made by Eugene Kuznevov<br>
                Phone: +375291864104
            </div>
            <div class="col text-center">
                Email: <a class="alert-link" href="mailto:qawsed200412345@gmail.com">qawsed200412345@gmail.com</a><br>
                Git: <a class="alert-link"  href="">Eugene1qd2/TestAspApplication</a>
            </div>
        </div>
    </div>
</footer>